node_modules
dist
.git
.gitignore
Dockerfile
npm-debug.log
.env
.env.*
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
.venv
venv
flask
.git
.gitignore
.idea
.vscode
.pytest_cache
.mypy_cache
uploads
back_fon
storage
dist
node_modules
Dockerfile
Dockerfile.*